jupyter
scikit-learn
scipy
seaborn
pandas
polars
pandas-datareader
matplotlib
pillow
tqdm
requests
h5py
pyyaml
flask
boto3
bayesian-optimization
gym
kaggle
vaderSentiment
imbalanced-learn
textblob
tensorflow_text
gdown
contractions
wordcloud
scikit-learn-intelex
scikit-image
opencv-contrib-python-headless
